<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italianno&display=swap">

<div class="container">
    <app-navbar />

    <div *ngIf="serviceData !== null">
        <div class="sd-image">
            <div class="sd-image-border">
                <h1>{{id}}</h1>
                <p>{{serviceData?.description}}</p>
            </div>
            <img src={{serviceData?.url}} alt="service image"/>

        </div>
    </div>

    <div *ngIf="serviceData === null">
        <h1>Service data is null</h1>
    </div>

</div>

<app-map/>
