
.app-navbar {

    background-color: rgba(255,255,255,0.35);    

    display: flex;
    flex-direction: row;

    height: 10vh;
    
}

.logo-image{
    cursor: pointer;
    margin-left: 1vw;
    user-select: none;
}

.logo-image img{
    width: 100%;
    height: auto;

}

.nav-bar-clickables {
    display: flex;
    margin-right: 15px;
    margin-left: auto;

}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    
    margin-right: 10vw;
    padding-top: 2vh;
    user-select: none;
}

.nav-bar-links span {
    margin-top: 3vh;
    color: rgba(255,255,255,0.6);
}

.nav-bar-links a{

    text-decoration: none;
    color: black;

    margin: 10px;
    margin-right: 1.2vw;
    margin-left: 1.2vw;
    padding: 5px;
    font-size:  3.5vh;

    font-family: "Italianno", sans-serif;
}

.nav-bar-social-media-links{
    margin-right: 3vw;
}

.nav-bar-social-media-links img{
    cursor: pointer;
    width: clamp(3vh, 3.5vh, 4.5vh);
    height: auto;
    margin-right: 0.4vw;
    margin-left: 0.4vw;

    margin-top: 40%;
    margin-bottom: auto;
    user-select: none;
}
